@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-select-selection {
  background-color: transparent;
}

.custom-modal > .ant-modal-content {
  border-radius: 16px;
  padding: 0px;
}

.custom-modal > .ant-modal-content > .ant-modal-header {
  border-radius: 30px;
}

.custom-modal > .ant-modal-content > .ant-modal-footer {
  border-radius: 30px;
}

.custom-switch {
  @apply bg-gray-300 border-gray-300; /* Warna abu-abu ketika tidak di-hover */
}

.custom-switch:hover {
  @apply bg-gray-400 border-gray-400; /* Warna abu-abu ketika di-hover */
}

.custom-switch .ant-switch-checked {
  @apply bg-primary border-primary-dark; /* Warna hijau ketika switch aktif */
}

body {
  font-family: "plus-jakarta-sans", sans-serif !important;
}
